<% if notice.present? %>
  <div data-controller="flash" class="container flex fixed top-5 right-1/2 transform translate-x-1/2 px-5">
    <div class="flex justify-between bg-red-50 mb-5 text-red-500 font-medium py-3 px-5 rounded-m w-full">
      <div class="mr-4"><%= notice %></div>
      <button type="button" data-action="flash#dismiss">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 self-end" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
<% end %>
