<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing stand</h1>

  <%= render "form", stand: @stand %>

  <%= link_to "Show this stand", @stand, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to stands", stands_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
