<div>
  <h1 class="font-bold text-4xl">No food stands found matching <%= search_term %></h1>
  <br />
  <%= link_to 'Back to search', root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
